/*
* 全局样式
*/

/*
* 下拉框样式
*/
.c-select-dropdown {
  width: inherit;
  min-height: 200px;
  margin: 5px 0;
  padding: 5px 0;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
  overflow: auto;
  z-index: 900;
}