@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: "Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif";
	vertical-align: baseline;
	line-height: 1.5;
	color: #515a6e;
}

code, kbd, pre, samp {
	font-family: Consolas,Menlo,Courier,monospace;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

/* 字体图标 */
//[class*=" c-icon-"], [class^=c-icon-] {
//
//}
//
//[class^=c-icon-] + span {
//	margin-left: 5px;
//}
//
//.c-icon-loading {
//	animation: rotating 2s linear infinite;
//}

