@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: $font-family;
	vertical-align: baseline;
	line-height: 1.5;
	color: #515a6e;
}

code, kbd, pre, samp {
	font-family: Consolas,Menlo,Courier,monospace;
}

ul, li {
	list-style: none;
}

a {
  color: $color-primary;
  background: 0 0;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  transition: color .2s ease;
}

/* 字体图标 */
//[class*=" c-icon-"], [class^=c-icon-] {
//
//}
//
//[class^=c-icon-] + span {
//	margin-left: 5px;
//}
//
//.c-icon-loading {
//	animation: rotating 2s linear infinite;
//}

