/*
* 公用规范
*/

/* 字体 */
$font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;

/* 颜色规范 */
// 主色調
$color-primary: #2196f3;
$color-primary-hover: #64b5f6;
$color-primary-active: #2196f3;
// 辅助色
$color-success: #4caf50;
$color-success-hover: #81c784;
$color-info: #909399;
$color-info-hover: #989da5;
$color-warning: #ec8938;
$color-warning-hover: #f19f5c;
$color-danger: #f17c67;
$color-danger-hover: #ee9888;

/* 背景色 */
$color-success-bg: #f0f9eb;
$color-danger-bg: #fef0f0;
$color-warning-bg: #fdf6ec;
$color-info-bg: #f4f4f5;

/* layout主题色 */
$color-layout: #f5f7f9;
$color-layout-header: #515a6e;
$color-layout-footer: #f5f7f9;


/* 字体规范 */
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large:  18px;
$font-size-large-x: 22px;

/* 字体图标文字 */
$icon-size-lg: 12px;
$icon-size-2x: 14px;
$icon-size-3x: 16px;
$icon-size-4x: 18px;
$icon-size-5x: 20px;

/* 基础文字色彩 */
$text-primary: #515a6e;
$text-regular: #9ea7b4;
$text-secondary: #999;
$text-placeholder: #ccc;

/* 中性色彩 */
$text-title: #17243f;
$text-content: #596379;
$text-icon: #888e9e;
$text-disabled: #d5d8df;
$text-divider: #9e9e9e;

/* 边框色彩 */
$border-primary: #cfd8dc;
$border-regular: #b0bec5;
$border-secondary: #90a4ae;
$border-placeholder: #90a4ae;
