/*
* alert
*/

$Alert: "c-alert";

.#{$Alert} {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 6px 12px;
	border-radius: 5px;
	position: relative;
	opacity: 1;
  border: 1px solid transparent;
	box-sizing: border-box;
	overflow: hidden;
	&.is-center{
		justify-content: center;
		text-align: center;
	}
	.#{$Alert}-icon {
    font-size: $font-size-large;
	}
	.#{$Alert}-content {
		padding: 0 10px;
	}
  .#{$Alert}-title {
    font-size: $font-size-medium;
  }
  .#{$Alert}-msg {
    display: none;
    font-size: $font-size-small;
    margin-top: 5px;
  }
  .#{$Alert}-closeBtn {
    font-size: $font-size-small;
    font-style: normal;
    position: absolute;
    right: 16px;
    top: 10px;
    cursor: pointer;
    &.is-custom{
      top: 8px;
    }
  }
}

/* 色彩框 */
.#{$Alert}-success {
  color: $color-success;
  background: $color-success-bg;
  border-color: $color-success;
}
.#{$Alert}-error {
  color: $color-danger;
  background: $color-danger-bg;
  border-color: $color-danger;
}
.#{$Alert}-warning {
  color: $color-warning;
  background: $color-warning-bg;
  border-color: $color-warning;
}
.#{$Alert}-info {
  color: $color-primary;
  background: $color-primary-bg;
  border-color: $color-primary;
}

/* 带描述 */
.#{$Alert}-with-desc {
  padding: 16px 25px;
  .#{$Alert}-msg {
    display: block;
    color: $text-primary;
  }
}

/* 带图标 */
.#{$Alert}-with-icon {
  .#{$Alert}-icon {
    margin-top: 2px;
  }
  &.#{$Alert}-with-desc {
    .#{$Alert}-icon i{
      width: 32px;
      font-size: 32px;
    }
  }
}

