@import './common/variable.scss';

.c-breadcrumb {
	font-size: $font-size-medium;
	color: $text-secondary;
	& > span:last-child{
		font-weight: 700;
		color: $text-primary;
	}
	.c-breadcrumb-item-separator {
		margin: 0 8px;
		color: $text-disabled;
	}

}