@import './common/variable.scss';
.c-button-group {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	.c-button {
		& + .c-button {
			margin-left: -1px;
		}
		&:first-child {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}
		&:last-child {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}
		&:not(:last-child):not(:first-child) {
			border-radius: 0;
		}
		&.c-button-primary {
			& + .c-button {
				border-left-color: $color-primary-hover;
			}
			&::last-child {
				border-right-color: $color-primary-hover;
			}
		}
	}
	// 圆角模式
	&.is-circle {
		.c-button {
			&:first-child {
				border-bottom-left-radius: 20px;
				border-top-left-radius: 20px;
			}
			&:last-child {
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
			}
		}
	}
}