@import './common/variable.scss';

.c-button {
	display: inline-block;
	font-size: $font-size-small;
	font-weight: 400;
	color: $text-primary;
	background: #fff;
	line-height: 1.5;	
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 0;
	padding: 6px 15px;
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	transition: .35s;
	box-sizing: border-box;
	& + .c-button {
		margin-left: 10px;
	}
	&.c-button-deafult {
		&:hover {
			color: $color-default;
			background: $color-default-hover;
			border-color: #c6e2ff;
		}
		&:disabled {
			background: #fff;
			color: $text-placeholder;
			border-color: none;
		}
	}
	&.c-button-primary {
		color: #fff;
		background: $color-primary;
		border-color: $color-primary;
		&:hover, &:disabled{
			background: $color-primary-hover;
			border-color: $color-primary-hover;
		}
	}
	&.c-button-success {
		color: #fff;
		background: $color-success;
		border-color: $color-success;
		&:hover, &:disabled{
			background: $color-success-hover;
			border-color: $color-success-hover;
		}
	}
	&.c-button-info {
		color: #fff;
		background: $color-info;
		border-color: $color-info;
		&:hover, &:disabled{
			background: $color-info-hover;
			border-color: $color-info-hover;
		}
	}
	&.c-button-warning {
		color: #fff;
		background: $color-warning;
		border-color: $color-warning;
		&:hover, &:disabled{
			background: $color-warning-hover;
			border-color: $color-warning-hover;
		}
	}
	&.c-button-error {
		color: #fff;
		background: $color-danger;
		border-color: $color-danger;
		&:hover,&:disabled{
			background: $color-danger-hover;
			border-color: $color-danger-hover;
		}
	}
	&.c-button-large {
		font-size: $font-size-medium;
		padding: 8px 20px;
	}
	&.c-button-small {
		font-size: $font-size-small;
		padding: 3px 10px;
	}
	&.is-round {
		border-radius: 20px;
	}
	&.is-disabled {
		color: $text-placeholder;
		background: #f7f7f7;
		cursor: not-allowed;
		border: 1px dashed;
	}
	&.is-circle {
		width: 33px;
		height: 33px;
		padding: 1px;
		border-radius: 50%;
	}
}