$CIcon: '.c-icon';

#{$CIcon} {
  font-family: "codefont"!important;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  speak: none;
  text-transform: none;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // size 图标
  &#{$CIcon}-lg {
    font-size: $icon-size-lg;
  }
  &#{$CIcon}-2x{
    font-size: $icon-size-2x;
  }
  &#{$CIcon}-3x{
    font-size: $icon-size-3x;
  }
  &#{$CIcon}-4x{
     font-size: $icon-size-4x;
  }
  &#{$CIcon}-5x{
    font-size: $icon-size-5x;
  }
  // rotate 图标
  &#{$CIcon}-rotate-90 {
    transform: rotate(90deg);
  }
  &#{$CIcon}-rotate-180 {
    transform: rotate(180deg);
  }
  &#{$CIcon}-rotate-270 {
    transform: rotate(270deg);
  }
  // flipped 图标
  &#{$CIcon}-horizontal {
    transform: scale(-1, 1);
  }
  &#{$CIcon}-vertical {
    transform: scale(1, -1);
  }
}
