/* base */
$Input: ".c-input";
$InputGroup: ".c-input-group";

#{$Input}-warpper{
	display: inline-block;
	width: 100%;
	position: relative;
	vertical-align: middle;
  #{$Input} {
		display: inline-block;
		font-size: $font-size-small;
		color: $text-content;
		width: 100%;
		height: 32px;
		line-height: 1.5;
		padding: 4px 7px;
		border: 1px solid $border-primary;
		border-radius: 5px;
		background: #fff;
		transition: border .3s ease-in-out, box-shadow .3s ease-in-out;
		&::-webkit-input-placeholder{
			color: $text-placeholder;
		}
		&:hover, &:focus {
			border-color: $color-default;
		}
		&:focus{
			outline: 0;
			box-shadow: 0 0 0 2px rgba(38, 136, 240, 0.2);
		}
		// prefix
		&#{$Input}-prefix {
			padding-left: 32px;
		}
		&#{$Input}-suffix {
			padding-right: 32px;
		}
	}
	// 表单内的icon
	#{$Input}-icon {
		display: inline-block;
		font-size: $font-size-medium-x;
		color: $text-placeholder;
		text-align: center;
		width: 32px;
		height: 32px;
		line-height: 32px;
		position: absolute;
		right: 0;
		cursor: pointer;
	}
	// input框Icon
	#{$Input}-with-suffix,
	#{$Input}-with-prefix {
		width: 32px;
    height: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
		z-index: 1;
		i {
			font-size: $font-size-medium-x;
			line-height: 32px;
		}
	}
	// 右侧图标
  #{$Input}-with-suffix {
		left: auto;
		right: 0;
	}
	// 禁用样式
  #{$Input}-disabled {
		color: $text-placeholder;
		background-color: #f3f3f3;
		opacity: 1;
		cursor: not-allowed;
		&:hover {
			border-color: $border-primary;
		}
	}
}

/* large */
#{$InputGroup}-large {
  #{$Input}-large {
		font-size: $font-size-medium;
		height: 36px;
		line-height: 36px;
	}
}
/* group large */
#{$InputGroup}-with-large #{$InputGroup}-append,
#{$InputGroup}-with-large #{$InputGroup}-prepend {
	padding: 4px 8px;
	height: 36px;
}

/* small */
#{$InputGroup}-small {
  #{$Input}-small {
		padding: 1px 8px;
		height: 24px;
		border-radius: 3px;
	}
}
/* group small */
#{$InputGroup}-with-small #{$InputGroup}-append,
#{$InputGroup}-with-small #{$InputGroup}-prepend {
	padding: 0 7px;
	height: 24px;
}

// append & prepend 
#{$InputGroup}-append,
#{$InputGroup}-prepend {
	padding: 4px 8px;
	font-size: inherit;
	font-weight: 400;
	line-height: 1;
	color: $text-content;
	text-align: center;
	background-color: #f8f8f9;
	border: 1px solid #dcdee2;
	border-radius: 4px;
	vertical-align: middle;
}
/* 消除左半边边框以及Input右边边框*/
#{$InputGroup}-append {
	border-left: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
#{$InputGroup}-with-append #{$Input} {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
// search按钮样式
#{$InputGroup}-append#{$Input}-search {
	color: #fff;
	background: $color-default;
	border-color: $color-default;
	cursor: pointer;
}
/* 消除右半边边框以及Input左边边框 */
#{$InputGroup}-prepend {
	border-right: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
#{$InputGroup}-with-prepend #{$Input}{
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

/* table布局 */
#{$InputGroup} {
	display: table;
	width: 100%;
	position: relative;
	font-size: 12px;
  #{$Input},
  #{$InputGroup}-append,
  #{$InputGroup}-prepend
	{
		display: table-cell
	}
}
