@import './common/variable.scss';

$Menu: 'c-menu';
$MenuGroup: 'c-menu-group';
$MenuSub: 'c-menu-sub';
$MenuItem: "c-menu-item";

.#{$Menu} {
	display: block;
	font-size: $font-size-medium;
	position: relative;
	z-index: 900;
	// 主标题
	.#{$MenuGroup}-item-title {
		font-size: 12px;
		color: #999;
    	padding-left: 28px;
		height: 50px;
		line-height: 50px;
	}
	// 子菜单标题icon
	.#{$MenuSub}-title-icon {
		font-size: 12px;
		transition: transform .2s linear;
	}
	// 子菜单 & 折叠菜单标题
	.#{$MenuItem},
	&.#{$Menu}-vertical .#{$MenuSub}-title {
		display: block;
		color: inherit;
		padding: 14px 24px;
		position: relative;
		cursor: pointer;
		z-index: 1;
		transition: all .2s ease-in-out;
	}
	// :horizontal 水平布局
	&.#{$Menu}-horizontal {
		height: 60px;
		line-height: 60px;
		.#{$MenuItem} {
			float: left;
			padding: 0 20px;
		}
	}
	// :vertical 垂直布局
	&.#{$Menu}-vertical {
		.#{$MenuItem} {
			&.c-menu-item--active,
			&.c-menu-item--selected{
				background: #f0faff;
			}
			&.#{$MenuItem}--active:not(.c-menu-submenu)::after {
				content: " ";
				display: block;
				width: 2px;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				background: #2d8cf0;
			}
		}
		// icon
		.#{$MenuSub}-title > i,
		.#{$MenuSub}-title-icon,
    .#{$MenuItem} > i {
			margin-right: 8px;
		}
		.#{$MenuSub}-title-icon {
			float: right;
			position: relative;
			top: 4px;
		}
		// 目标选中下拉框 icon旋转
		.#{$Menu}-opened .#{$MenuSub}-title-icon {
			transform: rotate(180deg);
		}
		&::after{
			content: "";
			display: block;
			width: 1px;
			height: 100%;
			background: #dcdee2;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 1;
		}
	}
	/* 白色主题 */ 
	&.#{$Menu}-light {
		background: #fff;
		// 选中效果
		.#{$MenuItem}--active,
		.#{$MenuItem}--selected,
		.#{$MenuItem}:hover,
		.#{$MenuSub}-title:hover{
			color: $color-default;
			z-index: 2;
		}
		/* 白色主题下的水平布局 */
		&.#{$Menu}-horizontal {
			&.#{$MenuItem}--active:not(.c-menu-submenu)::after {
				content: " ";
				display: block;
				width: 100%;
				height: 2px;
				position: absolute;
				bottom: 0;
				left: 0;
				background: #2d8cf0;
			}
			/* 水平布局开启下划线 */
			&::after{
				content: "";
				display: block;
				width: 100%;
				height: 1px;
				background: #dcdee2;
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}

	}
	// 黑色主题
	&.#{$Menu}-dark {
		background: #515a6e;
		/* 黑色主题下无需开启下划线 */
		.#{$MenuItem} {
			color:$text-placeholder;
			&.#{$MenuItem}--active,
			&.#{$MenuItem}--selected,
			&:hover {
				color: $color-default;
			}
		}
    /* 垂直布局关闭侧边线， 添加背景色 */
    &.#{$Menu}-vertical {
      .#{$MenuItem}--active,
      .#{$MenuItem}--selected {
        background: #363e4f;
      }
      &::after {
        display: none;
      }
      .#{$MenuItem}--active:not(.c-menu-submenu)::after {
        display: none !important;
      }
    }
	}
	/* 主题色 */ 
	&.#{$Menu}-primary {
		background: $color-default;
	}
}