@import './common/variable.scss';

$Menu: 'c-menu';
$MenuGroup: 'c-menu-group';
$MenuSub: 'c-menu-submenu';
$MenuItem: "c-menu-item";
$SelectDrop: "c-select-dropdown";

/* 基础主体 */
.#{$Menu} {
	display: block;
	font-size: $font-size-medium;
	position: relative;
	z-index: 900;
	// 主标题
	.#{$MenuGroup}-item-title {
		font-size: 14px;
    font-weight: 400;
		color: #999;
    padding-left: 28px;
		height: 50px;
		line-height: 50px;
	}
	// 子菜单标题icon
	.#{$MenuSub}-title-icon {
		font-size: 12px;
		transition: transform .2s linear;
	}
	// 子菜单 & 折叠菜单标题
  .#{$MenuItem} span {
    display: inline-block;
    width: 69px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    transition: width .2s ease-in-out;
  }
  .#{$MenuItem} > i {
    margin-right: 8px;
  }
  // 目标选中下拉框 icon旋转
  .#{$Menu}-opened .#{$MenuSub}-title-icon {
    transform: rotate(180deg);
  }
  /* 最小菜单模式 */
  &.collapsed-menu {
    .#{$MenuItem} i {
      transition: font-size .2s ease .2s, transform .2s ease .2s;  // last param 为延时
      transform: translateY(10px);
      font-size: 22px;
    }
    .#{$MenuItem} > span {
      width: 0;
    }
  }
}

/*
  布局
*/

/* horizontal 水平布局 */
.#{$Menu}-horizontal {
  height: 60px;
  line-height: 60px;
  .#{$MenuGroup}-item-title {
    height: 30px;
    line-height: 30px;
    padding-left: 8px;
    font-size: 12px;
    color: #999;
  }
  /* 水平布局全为float布局 */
  .#{$MenuItem}, .#{$MenuSub} {
    float: left;
    padding: 0 20px;
    position: relative;
    cursor: pointer;
    z-index: 3;
    transition: all .2s ease-in-out;
  }
  /* 下拉菜单 */
  .#{$MenuSub} .#{$SelectDrop} {
    width: auto;
    min-width: 100%;
    .#{$MenuItem} {
      float: none;
      font-size: 14px;
      color: $text-primary;
      padding: 7px 16px 8px;
      height: auto;
      line-height: normal;
      border-bottom: 0;
      transition: background-color .2s ease-in-out;
      /* 选中后样式 */
      &.#{$MenuItem}-selected,
      &.#{$MenuItem}-active,
      &:hover {
        color: $color-primary;
        border-bottom: 0;
      }
      &:hover {
        background-color: #f3f3f3;
      }
    }
  }
}
/* vertical 垂直布局 */
.#{$Menu}-vertical {
  .#{$MenuItem},
  .#{$MenuSub}-title {
    display: block;
    color: inherit;
    padding: 14px 24px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    transition: all .2s ease-in-out;
    &.#{$MenuItem}-active:not(.c-menu-submenu)::after {
      content: " ";
      display: block;
      width: 2px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background: #2d8cf0;
    }
    .#{$MenuItem}{
      background: #f0faff;
    }
    &.#{$MenuItem}-active:not(.c-menu-submenu) {
      background: #f0faff;
    }
  }
  // icon
  .#{$MenuSub}-title > i,
  .#{$MenuSub}-title-icon,
  .#{$MenuItem} > i {
    margin-right: 8px;
  }
  .#{$MenuSub}-title-icon {
    float: right;
    position: relative;
    top: 4px;
  }
  &::after{
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: #dcdee2;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}

/*
  主题
*/

/* 白色主题 */
.#{$Menu}-light {
  background: #fff;
  /* 白色主题下的水平布局 */
  &.#{$Menu}-horizontal {
    .#{$MenuItem}, .#{$Menu}-submenu {
      line-height: inherit;
      height: inherit;
      border-bottom: 2px solid transparent;
    }
    .#{$MenuItem}-active,
    .#{$MenuItem}:hover,
    .#{$MenuSub}:hover{
      border-bottom: 2px solid $color-primary;
    }
    /* 水平布局开启下划线 */
    &::after{
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: #dcdee2;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  // 选中效果
  .#{$MenuItem}-active:not(.c-menu-submenu),
  .#{$MenuItem}-selected,
  .#{$MenuItem}:hover,
  .#{$MenuSub}-title:hover{
    color: $color-primary;
    z-index: 2;
  }
}

/* 黑色主题 */
.#{$Menu}-dark {
  background: #515a6e;
  /* 黑色主题下无需开启下划线 */
  .#{$MenuItem},
  .#{$MenuSub}-title {
    color: hsla(0,0%,100%,.6);
  }
  // hover & active
  .#{$MenuItem}-active,
  .#{$MenuItem}-selected,
  .#{$MenuItem}-active .#{$MenuSub}-title,
  .#{$MenuItem}:hover,
  .#{$MenuSub}-title:hover{
    color: #fff;
  }
  /* 垂直布局关闭侧边线， 添加背景色 */
  &.#{$Menu}-vertical {
    .#{$MenuSub}-title {
      background: #515a6e;
    }
    .#{$Menu}-opened {
      background: #363e4f;
      .#{$MenuSub}-title {
        color: #fff;
      }
    }
    .#{$MenuItem}-active:not(.c-menu-submenu),
    .#{$MenuItem}-selected {
      background: $color-primary;
    }
    &::after {
      display: none;
    }
    .#{$MenuItem}-active:not(.c-menu-submenu)::after {
      display: none !important;
    }
  }
}

/* 下拉菜单 */
.#{$MenuSub} {
  .#{$MenuSub}-title > i {
    margin-right: 8px;
  }
}